# Python
__pycache__/
*.py[cod]
*.db

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Project data
uploads/
secure_pdfs/
resumes_db/

# OS files
.DS_Store
Thumbs.db